In [21]:
import numpy as np
import pandas as pd
import os
file_path = "E:\\output_3"
file_list = []
for file in os.listdir(file_path):
    if file.endswith(".csv"):
        df = pd.read_csv(os.path.join(file_path, file), header=None)
        file_list.append(df)

In [30]:
import numpy as np
df = pd.concat(file_list,axis=0,ignore_index=True)
df_1 = df[df[1] == 'asset-file-tree']
df_2 = df[df[1] == 'asset-preview']
sum_1 = np.sum(df_1[3])
sum_2 = np.sum(df_2[3])
df_new = df[(df[1] != 'asset-file-tree') & (df[1] != 'asset-preview')]
df_new_2 = pd.DataFrame({
    0: ["data", "data"],
    1: ["asset-file-tree", "asset-preview"],
    2: [np.NAN, np.NAN],
    3: [sum_1, sum_2]
})
df_final = pd.concat([df_new, df_new_2], axis=0, ignore_index=True)
df_final.to_csv('output_3.csv')

In [31]:
df

,0,1,2,3
0,.Trash-1000,files,1X4Gfy7Noo_0_000000001121_000100000000.mat,2.344700e+04
1,.Trash-1000,info,1X4Gfy7Noo_0_000000001103_000500000000.mat.tra...,1.830000e+02
2,.Trash-1000,info,cam6_base_1888.png.trashinfo,1.490000e+02
3,.Trash-1000,info,evaluation_report_split_last.3.pdf.trashinfo,1.910000e+02
4,.Trash-1000,info,scdt_info.2.trashinfo,1.310000e+02
...,...,...,...,...
9587065,data,backup,MachineLearningData-backup,3.502629e+13
9587066,auto.prod.sz,users,yuez.lv,3.216030e+09
9587067,data,users,andytian,1.931651e+06
9587068,data,users,anson,5.604538e+08
9587069,data,users,christian.zhou,2.430854e+06

In [33]:
a = ("abc", "asd")
b = ("abc", "asd")
print(a is b)

False